
.container{
    display: flex;
    flex-direction: column;
    
    width:100%;
    height: 100%;
    background-image: repeating-linear-gradient(white,skyblue,pink,steelblue);
    flex-wrap: wrap;
}
.lBox{
    width:450px;
    height: 250px;
    background:radial-gradient(pink,skyblue,white);
    margin: 20px;
    border: 5px solid wheat;
    position: relative;
    right: 1%;
    opacity: 0.8;
    border-radius: 30px 30px 30px 30px;
    padding: 5px;
    text-align: center;

}
.rBox{
    width:450px;
    height: 250px;
    background:linear-gradient(120deg,pink,skyblue,steelblue,white);
    align-items: left;
    margin: 20px;
    padding: 5px;
    border: 5px solid white;
    position: relative;
    left: 60%;
    border-radius: 30px 30px 30px 30px;
    opacity: 0.8;
}
.lBox:hover,.rBox:hover{
    box-shadow:0px 10px 10px ;
    opacity:1;
}
#btn1,.rashi,#mode{
    text-align: center;
    border-radius: 25px 25px 25px 25px;
    
}
#d3{
    color:white;
}
